<h2><%= @sub.title %></h2>

<section>
<%= @sub.description %>
</section>

<%= link_to "Edit #{@sub.title }?", edit_sub_url, method: :get %>
<%= link_to "Create a Post!", new_post_url%>

<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <%= link_to post.title, post_url(post) %>
    </li>
  <% end %>
</ul>
